<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.honeysucklelib">
    <application>
        <provider
            android:authorities="${applicationId}.honeysuckle.privacynotice"
            android:name="com.example.honeysucklelib.HoneysuckleLib.InstanceProvider"
            android:exported="false" />
    </application>
</manifest>
